<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./filter.css">
    <title>Filters</title>
</head>
<body>
    <!-- Orange border for closing and dragging-->
    <div id="main">
        <div id="top-border"></div>
        <div id="filter">
            <h1>Filters</h1>
            <div><button id="noun-filter">名詞</button></div>
            <div><button id="verb-filter">動詞</button></div>
            <div><button id="adjective-filter">形容詞</button></div>
            <div><button id="adverb-filter">副詞</button></div>
            <div><button id="yoji-filter">四字熟語</button></div>
        </div>
        
        <button id="close-filter">Close</button>
    </div>

    <script src="./filter.js"></script>
</body>
</html>