<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <div class="container">
        <div id="top-border"></div>
        <div class="menu">
            <button id="show-flashcard">Show Flashcard</button>
            <button id="search-related">Search Related</button>
            <button id="add-deck">Add to Deck</button>
            <button id="edit">Edit</button>
            <button id="close" onclick="close()">Close</button>
        </div>
    </div>

    <script src="./menu.js"></script>
</body>
</html>