:root{
    --highlight:  #d49c6b;
    --base:  #f6fafb;
    --background: #252b31;
}

@font-face {
    font-family: "Kosugi";
    src: url("../../fonts/Kosugi-Regular.ttf");
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Kosugi', sans-serif;
}

body {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
}

header {
    width: 100vw;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    flex-wrap: nowrap;
    border-bottom: 3px solid var(--highlight);
}

button {
    padding: 3px 10px;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#nav-bar {
    width: 100%;
    margin-left: 20px;
}

.nav-elements {
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    align-items: flex-end;
}

#icon-title {
    white-space: nowrap;
    text-align: center;
    padding: 3px 10px;
    color: var(--base);
    font-size: 2rem;
}

.nav-elements button {
    border-bottom: 10px solid var(--background);
    padding: 4px 6px;
    margin: 0 1vw;
}

.nav-elements button:focus {
    outline: none;
}

.nav-elements button:hover {
    color: var(--base);
    background-color: var(--highlight);
    border-bottom: 10px solid var(--highlight);
}


#main {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vw 4vh;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-start;
    justify-content: space-between;
    padding: 8px 0;
}

::selection {
    background-color: var(--highlight);
}

#page-size {
    background-color: var(--base);
    border: none;
    color: black;
    width: 10%;
    text-align: center;
    font-family: 'Kosugi', sans-serif;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0 4px 0 0;
}

#total-count { 
    border: none;
    background-color: var(--base);
    color: black;
    width: 10%;
    text-align: center;
    font-family: 'Kosugi', sans-serif;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0 4px;
}

#count-separator {
    color: var(--base);
    background-color: inherit;
    text-align: center;
    font-family: 'Kosugi', sans-serif;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0 4px;
}

#search-bar {
    flex-grow: 3;
    border: none;
    background-color: var(--base);
    width: 70%;
    color: black;
    font-family: 'Kosugi', sans-serif;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0 4px;
}

#page-size:focus, #search-bar:focus {
    outline: 3px solid var(--highlight);
}

#total-count:focus {
    outline: none;
}

#search-btn {
    border: none;
    background-color: var(--base);
    color: black;
    border: none;
    font-family: 'Kosugi', sans-serif;
    font-size: 1.5rem;
    padding: 4px;
    margin: 0 0 0 4px;
}

#search-btn:hover {
    color: var(--base);
    background-color: var(--highlight);
}

#browse-table {
    width: 100%;
    height: 100%;
    background-color: var(--base);
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0;
}

.kanji-cell {
    background-color: var(--base);
    font-family: 'Kosugi', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    margin: 8px 8px;
    padding: 3px;
    transition: border-width 0.3s ease-in;
}

.kanji-span {
    background-color: inherit;
    font-size: 2.5rem;
    text-align: center;
}

.hiragana-span {
    background-color: inherit;
    font-size: 1rem;
    text-align: center;
    writing-mode: vertical-lr;
}

#page-slider {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: var(--base);
}

#page-slider span {
    margin: 8px;
    font-family: 'Kosugi', sans-serif;
    font-size: 1.5rem;
}

#page-slider span.active  {
    text-decoration: underline;
}

#page-slider span:hover {
    color: var(--highlight);
    cursor: pointer;
}

.kanji-cell:hover {
    outline: 3px solid var(--highlight);
    cursor: pointer;
}

#message-area {
    width: 100%;
    margin: 10px;
    background-color: var(--base);
    padding: 4px;
}

#message-text {
    background-color: inherit;
}

@media (max-width: 500px), (orientation:portrait) {
    #main {
        width: 95vw;
        height: fit-content;
    }
}